//grayScale
$clr01: hsl(0, 0%, 100%);
$clr02: hsl(270, 3%, 87%);
$clr03: hsl(279, 6%, 55%);
$clr04: hsl(278, 68%, 11%);

// colors


// Breakpoints
$mobile-breakpoint: 375px;
$normal-breakpoint: 768px;
$wide-breakpoint: 1200px;
$desktop-breakpoint: 1440px;




// layout vars
